<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
        <head>  
                <title>Cadastro de Pessoa</title>  
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
            </head> 
        <body> 
                <h1>Cadastro de pessoa</h1> 
                <form th:action="@{/cadastro}" th:object="${pessoa}" method="POST"> 
                        <p>Nome: <input type="text" th:field="*{nome}" /> </p> 
                        <p>Sobrenome: <input type="text" th:field="*{sobrenome}" /></p> 
                        <p>Idade: <input type="text" th:field="*{idade}" /></p> 
                        <p><input type="submit" value="Cadastrar" /></p> 
                    </form> 
            </body> 
</html> 