<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

    <head>
        <title>Data e hora </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
    <body> 
        <h1>Que dia é hoje? Que horas são?</h1>
        <p><strong>Hoje é dia:</strong><span id="spnData" th:text="${data}"></span></p>
        <p><strong>A hora certa é:</strong><span id="spnHora" th:text="${hora}"></span></p>

    </body> 
</html>
