<!DOCTYPE HTML> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <head>  
            <title>Dados da pessoa</title>  
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    </head> 
    <body> 
            <h1>Dados da pessoa</h1> 
            <p>Nome:<span th:text="${pessoa.nome}" /></p> 
            <p>Sobrenome:<span th:text="${pessoa.sobrenome}" /></p> 
            <p>Idade:<span th:text="${pessoa.idade}" /></p> 
    </body> 
</html> 